<h1>Profile</h1>

<dl>
  <dt>First Name:</dt>
  <dd><%= @profile.first_name %></dd>

  <dt>Last Name:</dt>
  <dd><%= @profile.last_name %></dd>

  <dt>Bio:</dt>
  <dd><%= @profile.description %></dd>
</dl>
