// CARDS
.card {
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;
}

.card-body {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
// PET IMAGE & CATEGORY
.petcontainer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 450px; // Set a fixed height to maintain consistency
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pet-image-category, .harthlogo {
  position: absolute;
  width: 60px; // Adjust width as needed
  height: 60px; // Adjust height as needed
  border-radius: 50%;
  background-color: $light-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
    height: 60%;
    object-fit: contain; // Adjust object-fit as needed
  }
}

.pet-image-category {
  top: -35px;
  right: 35px;
}

.harthlogo {
  top: -35px;
  right: 110px;
}

// PET INFO
#petname {
  font-size: 1.5rem;
}
.infopet {
  padding: 20px;
  border-radius: 20px;
  background-color: $light-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
  position: relative;

  .pet-info {
    padding: 10px;
  }

  .pet-details {
    margin-top: 20px;

    span {
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }
  }
}
#defaultdescription {
  margin-top: 25px;
  line-height: normal;
}

// BUTTONS
.fa-house-user, .fa-info {
  margin-right: 10px;
}

.fa-house-user {
  color: $blue;
}
.house-user {
  text-align: center;
}

.fa-info {
  color: $yellow;
}
.btn-primary {
  background-color: $yellow;
  color: #fff8f8;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.btn-danger {
  background-color: $red;
  color: #fff8f8;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.btn-info {
  background-color: $blue;
  color: #fff8f8;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}
// Tab Buttons
.tab-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.tab-buttons button {
  padding: 10px 20px;
  background-color: #fff8f8;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
  color: $blue;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
  margin: 16px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $light-gray;
  color: $blue;
  font-weight: bold;
}
.tab-buttons button:hover {
  border-bottom: 3px solid $blue;
}
.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

// OWNER INFO TAB CONTENT
#pet-description{
  border-radius: 20px;
  background-color: $light-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
}
.owner-info {
  border-radius: 20px;
  background-color: $light-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;

    p {
      font-size: 1rem;
      line-height: 1.75;
      font-weight: 400;
      margin: 16px 0px;
    }

}
#owner-care {
  border-radius: 20px;
  background-color: $light-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
  margin: 16px 0px;
}
// PET PRICE AND DATES
.tabledate {
  border-radius: 20px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}
.tabledate-item {
  width: 180px;
  //height: ; to add if needed
  border-radius: 20px;
  border: 1px solid $blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;
  }
}
#table-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  font-weight: 400;
}
