.pet-card {
  border-radius: 10%;

  .card-img-top {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
  .card-body {
    height: 200px;
    overflow: hidden;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.flat-card-link{
  text-decoration:none;
}
