.request-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: calc(33.333% - 20px); /* Calculate width for each card with 20px space in between */
  margin-right: 20px; /* Add space between cards */
  margin-bottom: 20px; /* Add space between rows */
  box-sizing: border-box; /* Include padding and border in element's total width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-request {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px; /* Add space between image and text */
}
