// CARDS
.card {
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

// PET CONTAINER
// .petcontainer {
//   height: 450px;
//   background-color: $yellow;
//   border-radius: 20px;
// }

// PET IMAGE & CATEGORY
.pet-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  height: 400px; // Set a fixed height to maintain consistency

  // .default-img-pet {
  //   position: absolute;
  //   width: 150px;
  //   top: 340px;
  //   right: 5px;
  // }
}

.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid black;
}

.pet-image-category {
  position: absolute;
  width: 130px;
  top: 50%;
  left: 80%;
  border-radius: 25%;
  background-color: $green;
  border: 1px solid black;
}

.categorycontainer {
  width: 100%;
}

// PET INFO
.infopet {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: $light-gray;

  .pet-info {
    padding: 20px;
  }

  .pet-details {
    margin-top: 20px;
    span {
      margin: 0;
      padding: 0;
      line-height: 1.5;
    }
  }
}

// BUTTONS
.fa-house-user,
.fa-info {
  margin-right: 10px;
}

.fa-house-user {
  color: $blue;
  margin-left: 35px;
}

.fa-info {
  color: $yellow;
}
